<h3>投稿一覧</h3>
<table class='table'>
<% @blogs.each do |blog| %>
  <tr>
    <td>
      <div id="index">
      <%= blog.content %>
      </div>
    </td>
    <td>
      <%= form_with(model: @blog, url: blog_path(blog.id), local: true, method: 'get') do |form| %>
        <%= form.hidden_field :content %>
        <button class="btn"> 確認</button>
      <% end %>
    </td>
    <td>
      <%= form_with(model: @blog, url: edit_blog_path(blog.id),　data: { confirm: '本当に編集していいですか？' }, local: true, method: 'get') do |form| %>
        <%= form.hidden_field :content %>
        <button class="btn"> 編集</button>
      <% end %>
    </td>
    <td>
      <%= form_with(model: @blog, url: blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' }, local: true, method: :delete ) do |form| %>
        <%= form.hidden_field :content %>
        <button class="btn"> 削除</button>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
